<form>
    <div>
        <label for="formName">Name:</label>
        <input id="formName" name="newName" type="text" required min="1" max="50"/>
    </div>
    <div>
        <label for="formDescription">Description:</label>
        <textarea id="formDescription" name="newDescription" min="0" max="500"></textarea>
    </div>
    <div>
        <label for="formReleaseYear">Release Year:</label>
        <input id="formReleaseYear" name="newReleaseYear" type="text" pattern="[0-9]{4}" required />
    </div>
    <div>
        <label for="formAcademyAward">Academy Award Winner?</label>
        <input id="formAcademyAward" name="academyAwardWinner" type="checkbox" />
    </div>
    <div>
        <label for="formDirectorId">Director: </label>
        <input id="formDirectorId" name="newDirectorId" type="number" />
    </div>
    <button type="submit">Submit</button>
    <button>Are You Sure?</button>
    <button>Cancel</button>
</form>

<form v-on:submit.prevent="submitForm">
    <div>
        <label for="editName">Name</label>
        <input id="editName" type="text" maxLength="50" v-model="editPet.petName"/>
        <p>Current Value: {{ activePet.petName }}</p>
    </div>
    <div>
        <label for="editBrand">Brand/Species</label>
        <input id="editBrand" type="text" maxLength="50" v-model="editPet.brand"/>
        <p>Current Value: {{ activePet.brand }}</p>
    </div>
    <div>
        <label for="editType">Type</label>
        <input id="editType" type="text" maxLength="50" v-model="editPet.petType"/>
        <p>Current Value: {{ activePet.petType }}</p>
    </div>
    <div>
        <label for="editDateBirth">Day of Birth</label>
        <input id="editDateBirth" type="date" v-model="editPet.dateBirth"/>
        <p>Current Value: {{ activePet.dateBirth }} {{ activePet.timeBirth }}</p>
    </div>
    <div>
        <label for="editTimeBirth">Time of Birth</label>
        <input id="editTimeBirth" type="time" v-model="editPet.timeBirth"/>
        <p>Current Value: {{ activePet.timeBirth }}</p>
    </div>
    <button type="submit">Submit</button>
    <button v-on:click="cancelForm">Cancel</button>
</form>

<form v-on:submit.prevent="submitForm">
    <div class="field">
        <label class="label">Name</label>
            <div class="control">
            <input class="input" type="text" maxLength="50" v-model="editPet.petName">
            </div> 
            <p class="help">Current Value: {{ activePet.petName }}</p>    
        </div>
        <div class="field">
        <label class="label">Brand/Species</label>
            <div class="control">
            <input class="input" type="text" maxLength="50" v-model="editPet.brand">
            </div>
            <p class="help">Current Value: {{ activePet.brand }}</p>    
        </div>
        <div class="field">
        <label class="label">Type</label>
            <div class="control">
            <input class="input" type="text" maxLength="50" v-model="editPet.petType">
            </div>
            <p class="help">Current Value: {{ activePet.petType }}</p>    
        </div>
        <div class="field">
        <label class="label">Day of Birth</label>
            <div class="control">
            <input class="input" type="date" v-model="editPet.dateBirth">
            </div>
            <p class="help">Current Value: {{ activePet.dateBirth }}</p>    
        </div>
        <div class="field">
        <label class="label">Time of Birth</label>
            <div class="control">
            <input class="input" type="time" v-model="editPet.timeBirth">
            </div>
            <p class="help">Current Value: {{ activePet.timeBirth }}</p>    
        </div>
        <div class="field is-grouped is-grouped-right">
        <p class="control">
            <button type="submit" class="button is-info">Submit</button>
        </p>
        <p class="control">
            <a class="button is-light" v-on:click="cancelForm()">Cancel</a>
        </p>
    </div>    
</form>